# Ignora pastas de build e configuração do Git/Maven
target/

# Logs locais
*.log

# Arquivos de configuração de IDE
.settings/
.classpath
.project
.factorypath
.idea/
.vscode/

# --- OS ---
.DS_Store
Thumbs.db