server.port=8080

#Conexão com o Banco do Docker
spring.datasource.url=jdbc:postgresql://localhost:5432/chronos_db
spring.datasource.username=seu_usuario
spring.datasource.password=sua_senha

# JWT
# Pode ser gerado no bash, via: openssl rand-base64 32
jwt.secret=chave_secreta
jwt.expiration.hours=24

# Configurações de desenvolvimento
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true